body{
	background-color: gray;
}

span{
		color: darkred;
}

textarea {
   resize: none;
}

.table{
   margin: auto;
   width: 65% !important;
}

input[name="profkep"]{
	padding: 5px;
	margin-right: 50px;
}

#profpic{
	height: 310px;
	width: 310px;
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	object-fit: cover;
  object-position: center center;
  display: inline-block;
}
#cardform{
	width: 50rem;
}

#carouselExampleFade{
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#honapkepei{
	text-align: center;
	margin-top: 25px;
	font-size: 30px;
	color: white;
}
#login-text{
	font-size: 30px;
	color: white;
	text-align: center;
	padding: 30px;
}
#noreg{
	font-size: 24px;
	text-align: center;
	padding: 10px;
}
#small-text{
	text-align: center;
	color: white;
	font-size: 17px;
}

#label{
	color: white;
	display: inline-block;
}

#label_nagy{
	color: white;
	font-size: 30px;
}

#label_közepes{
	color: white;
	font-size: 20px;
}

#label_közepes_border{
	color: white;
	font-size: 20px;
	border-bottom: 6px solid black;
	margin-bottom: 10px;
}

#felsorolas{
	color: white;
	font-size: 28px;
	margin-left: 50px;
}

#text-center{
	text-align: center;
	margin: 10px;
	font-size: 30px;
	color: white;
}

nav a{
    padding: 0.5em;
    color: white;
    text-decoration: none;
}


.nav-link{
	color: darkred;
}

#col-75 {
	float: center;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}


.photo{
	margin: 8px;
}


.chat-box {
  background: lightgray;
  padding: 40px;
  margin-bottom: 15px;
	margin-top: auto;
	margin-right: 0px;
	margin-left: auto;
}

.messaging {
  margin-top: 40px;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

.message-text {
  margin-top: 10px;
}

.message-photo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center center;
  display: inline-block;
}

.message-name {
  margin-left: 10px;
  display: inline-block;
}

.scroll{
	overflow-y: scroll;
	height: 600px;
}
